.u-block-a79c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a79c-3 {
  position: absolute;
  left: 0;
}

.u-block-a79c-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/2107.w026.n002.661B.p1.661.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-1-1 .u-text-1 {
  margin: 0;
}

.u-section-1-1 .u-shape-1 {
  width: 173px;
  height: 173px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 92px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 3rem;
  margin: -112px auto 0;
}

.u-section-1-1 .u-shape-2 {
  width: 164px;
  height: 164px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -108px 102px 0 auto;
}

.u-section-1-1 .u-text-3 {
  font-size: 3rem;
  margin: -108px 115px 0 auto;
}

.u-section-1-1 .u-shape-3 {
  width: 164px;
  height: 164px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -108px auto 0 132px;
}

.u-section-1-1 .u-text-4 {
  margin: -101px auto 0 138px;
}

.u-section-1-1 .u-list-1 {
  width: 168px;
  margin: -49px auto 0 299px;
}

.u-section-1-1 .u-repeater-1 {
  min-height: 637px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 230px 230px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-1-1 .u-shape-4 {
  height: 36px;
  background-image: none;
  width: 158px;
  margin: 5px 0 0 auto;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-1-1 .u-shape-5 {
  height: 36px;
  background-image: none;
  width: 158px;
  margin: 5px 0 0 auto;
}

.u-section-1-1 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-1-1 .u-shape-6 {
  height: 36px;
  background-image: none;
  width: 158px;
  margin: 5px 0 0 auto;
}

.u-section-1-1 .u-list-2 {
  width: 173px;
  margin: -637px 283px 0 auto;
}

.u-section-1-1 .u-repeater-2 {
  min-height: 637px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 230px 230px;
}

.u-section-1-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1-1 .u-shape-7 {
  height: 39px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1-1 .u-shape-8 {
  height: 39px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1-1 .u-shape-9 {
  height: 39px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1-1 .u-shape-10 {
  width: 190px;
  height: 190px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -409px auto 0;
}

.u-section-1-1 .u-text-5 {
  font-size: 3rem;
  margin: -124px auto 0;
}

.u-section-1-1 .u-shape-11 {
  width: 164px;
  height: 164px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -104px 102px 0 auto;
}

.u-section-1-1 .u-text-6 {
  margin: -105px 126px 0 auto;
}

.u-section-1-1 .u-shape-12 {
  width: 157px;
  height: 157px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -94px auto 0 136px;
}

.u-section-1-1 .u-text-7 {
  font-size: 2.25rem;
  margin: -101px auto 0 153px;
}

.u-section-1-1 .u-shape-13 {
  width: 164px;
  height: 164px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 188px 102px 0 auto;
}

.u-section-1-1 .u-text-8 {
  font-size: 3rem;
  margin: -108px 101px 0 auto;
}

.u-section-1-1 .u-shape-14 {
  width: 164px;
  height: 164px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -108px auto 0 132px;
}

.u-section-1-1 .u-text-9 {
  font-size: 3rem;
  margin: -108px auto 0 133px;
}

.u-section-1-1 .u-shape-15 {
  width: 164px;
  height: 164px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: -108px auto 0;
}

.u-section-1-1 .u-text-10 {
  margin: -101px auto 0;
}

.u-section-1-1 .u-shape-16 {
  width: 42px;
  height: 110px;
  margin: -509px 162px 0 auto;
}

.u-section-1-1 .u-shape-17 {
  width: 42px;
  height: 110px;
  margin: 178px auto 0 193px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-1-1 .u-shape-1 {
    margin-top: 587px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -113px;
  }

  .u-section-1-1 .u-shape-2 {
    margin-top: -603px;
  }

  .u-section-1-1 .u-text-3 {
    margin-top: 164px;
  }

  .u-section-1-1 .u-shape-3 {
    margin-top: 271px;
  }

  .u-section-1-1 .u-text-4 {
    margin-top: -118px;
  }

  .u-section-1-1 .u-text-5 {
    margin-top: -309px;
  }

  .u-section-1-1 .u-shape-11 {
    margin-top: 112px;
  }

  .u-section-1-1 .u-text-6 {
    margin-top: -540px;
  }

  .u-section-1-1 .u-shape-12 {
    margin-top: 14px;
  }

  .u-section-1-1 .u-text-7 {
    margin-top: 371px;
  }

  .u-section-1-1 .u-shape-14 {
    margin-top: -157px;
  }

  .u-section-1-1 .u-text-9 {
    margin-top: 214px;
  }

  .u-section-1-1 .u-shape-15 {
    margin-top: -299px;
  }

  .u-section-1-1 .u-text-10 {
    margin-top: -95px;
  }

  .u-section-1-1 .u-shape-16 {
    margin-top: -270px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 758px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1-1 .u-text-8 {
    margin-top: -216px;
  }

  .u-section-1-1 .u-shape-14 {
    margin-top: -137px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1-1 .u-shape-1 {
    margin-top: 159px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -87px;
  }

  .u-section-1-1 .u-shape-2 {
    margin-top: -294px;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -171px;
    margin-right: 72px;
  }

  .u-section-1-1 .u-shape-3 {
    margin-top: 401px;
  }

  .u-section-1-1 .u-text-4 {
    margin-top: -27px;
    margin-left: 87px;
  }

  .u-section-1-1 .u-list-1 {
    margin-left: 172px;
  }

  .u-section-1-1 .u-list-2 {
    margin-right: 167px;
  }

  .u-section-1-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -519px;
  }

  .u-section-1-1 .u-shape-11 {
    margin-top: 520px;
  }

  .u-section-1-1 .u-text-6 {
    margin-top: -514px;
    margin-right: 79px;
  }

  .u-section-1-1 .u-shape-12 {
    margin-top: 40px;
  }

  .u-section-1-1 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-left: 96px;
  }

  .u-section-1-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1-1 .u-shape-14 {
    margin-top: 128px;
  }

  .u-section-1-1 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 240px;
    margin-left: 84px;
  }

  .u-section-1-1 .u-shape-15 {
    margin-top: -209px;
  }

  .u-section-1-1 .u-text-10 {
    margin-top: -557px;
  }
}

.u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]).u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]).u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]).u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]).u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-container-layout:hover .u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-a79c-71:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]),
.u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-container-layout:hover .u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-4f5f-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-3,
.u-section-1-1 .u-shape-3:before,
.u-section-1-1 .u-shape-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-3.u-shape-3.u-shape-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-3.u-shape-3.u-shape-3.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-1,
.u-section-1-1 .u-shape-1:before,
.u-section-1-1 .u-shape-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-1.u-shape-1.u-shape-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-1.u-shape-1.u-shape-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-14,
.u-section-1-1 .u-shape-14:before,
.u-section-1-1 .u-shape-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-14.u-shape-14.u-shape-14:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-14.u-shape-14.u-shape-14.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-14 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-14 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-11,
.u-section-1-1 .u-shape-11:before,
.u-section-1-1 .u-shape-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-11.u-shape-11.u-shape-11:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-11.u-shape-11.u-shape-11.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-container-layout:hover .u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-4f5f-65:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-container-layout:hover .u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-4f5f-68:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]),
.u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-container-layout:hover .u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-4f5f-70:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]).u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-container-layout:hover .u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-4f5f-71:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-10,
.u-section-1-1 .u-shape-10:before,
.u-section-1-1 .u-shape-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-10.u-shape-10.u-shape-10:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-10.u-shape-10.u-shape-10.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-15,
.u-section-1-1 .u-shape-15:before,
.u-section-1-1 .u-shape-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-15.u-shape-15.u-shape-15:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-15.u-shape-15.u-shape-15.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-15 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-15 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-13,
.u-section-1-1 .u-shape-13:before,
.u-section-1-1 .u-shape-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-13.u-shape-13.u-shape-13:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-13.u-shape-13.u-shape-13.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-13 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-12,
.u-section-1-1 .u-shape-12:before,
.u-section-1-1 .u-shape-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-12.u-shape-12.u-shape-12:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-12.u-shape-12.u-shape-12.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-shape-2,
.u-section-1-1 .u-shape-2:before,
.u-section-1-1 .u-shape-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1-1 .u-shape-2.u-shape-2.u-shape-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-shape-2.u-shape-2.u-shape-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) !important;
}

.u-section-1-1 .u-container-layout:hover .u-shape-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1-1 .u-shape-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 856px;
}

.u-section-2 .u-image-1 {
  height: 364px;
  object-position: 50% 11.57%;
  width: 491px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-image-1 {
    height: 252px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  border-radius: 10px !important;
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}